@charset "UTF-8";
body {
	background: #fff;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333;
	counter-reset: section;
}

img {
	max-width: 100%;
	width: auto;
	transition: all 0.3s linear;

	&:hover {
		transition: all 0.3s linear;
	}
}

a {
	text-decoration: none;
	transition: all 0.3s;

	&:hover,
	&.active {
		transition: all 0.3s;
	}
}

input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

ul {
	margin: 0;
	padding: 0;
}

.paginate-custom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		border: 1px solid #e0e0e0;
		color: #606368;
		font-weight: 500;
		font-size: 16px;
		line-height: 1;
		text-decoration: none;

		@media (min-width: 992px) {
			width: 48px;
			height: 48px;
		}

		&.arrow {
			background: #ffffff;
			color: #8c8c8c;
			border: 1px solid #e0e0e0;
		}

		&.active {
			background: #1d5a99;
			color: $white;
		}
	}
}

@media (min-width: 992px) {
	#js__marginCalculate {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 1s linear;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 24px !important;
	}
}
