<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trường thành Đại Việt</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="libs/fancybox/fancybox.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
  <div id="app">
    <myheader></myheader>
    <main>
      
    </main>
    <myfooter></myfooter>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/httpvueloader.js"></script>
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/popper.min.js"></script>
  <script src="libs/bootstrap/bootstrap.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script src="libs/fancybox/fancybox.umd.js"></script>
  <script src="js/main.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      components: {
        myheader: httpVueLoader('vue_components/header.vue'),
        myfooter: httpVueLoader('vue_components/footer.vue'),
      },
      mounted() {
        $(window).bind('load', function () {
          // Initialize Swiper
          var swiper__ourservices = new Swiper("#swiper__ourservices .mySwiper", {
            centeredSlides: true,
            centeredSlidesBounds: true,
            spaceBetween: 0,
            // Responsive breakpoints
            breakpoints: {
              320: {
                slidesPerView: 1,
              },
              576: {
                slidesPerView: 2,
              },
              768: {
                slidesPerView: 3.5,
              },
              1200: {
                slidesPerView: 4,
              }
            },
            navigation: {
              nextEl: "#swiper__ourservices .swiper-button-next",
              prevEl: "#swiper__ourservices .swiper-button-prev",
            },
            on: {
              init: function () {
                if ($(window).width() >= 768) this.slideTo(2);
              },
            },
          });

          // scoped swiper syncing

          // thumb siwper
          var thumbSwiper = new Swiper("#thumbSwiper .mySwiper", {
            breakpoints: {
              320: {
                slidesPerView: 5,
                spaceBetween: 10
              },
              768: {
                slidesPerView: 5,
                spaceBetween: 10
              },
            },
            navigation: {
              nextEl: "#thumbSwiper .swiper-button-next",
              prevEl: "#thumbSwiper .swiper-button-prev",
            },
          });

          // main siwper
          var mainSwiper = new Swiper("#mainSwiper .mySwiper", {
            speed: 1000,
            thumbs: {
              swiper: thumbSwiper
            },
            navigation: {
              nextEl: "#mainSwiper .swiper-button-next",
              prevEl: "#mainSwiper .swiper-button-prev",
            },
            effect: 'fade',
            fadeEffect: {
              crossFade: true
            },
          });

        });
      },
    });
  </script>
</body>

</html>