<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trường thành Đại Việt</title>
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
    <div id="app">
        <myheader></myheader>
        <main>
            <div class="question_wrapper">
                <div class="container">
                    <div class="question-content">
                        <div class="nav_left">
                            <button class="view_all_question">
                                Bắt đầu đặt câu hỏi
                            </button>
                            <ul class="nav-list">
                                <li>
                                    <i aria-hidden="true" class="icon far fa-comments Button-icon"></i>
                                    <a href="">Tất cả câu hỏi</a>
                                </li>
                                <li>
                                    <i></i>
                                    <a href="">Thẻ</a>
                                </li>
                                <li>
                                    <i></i>
                                    <a href="">Thẻ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-question-right">
                            <div class="fittel">
                                <button class="btn-fitter">
                                    Lọc
                                </button>
                                <ul>
                                    <li>
                                        <a href="">Mới Nhất</a>
                                    </li>
                                    <li>
                                        <a href="">Cũ Nhất</a>
                                    </li>
                                    <li>
                                        <a href="">Hot Nhất</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="list_question" v-for="n in 10">
                                <div class="question_item">
                                    <div class="question_item-wrapper">
                                        <span class=""><i class="icon fas fa-check "></i></span>
                                        <div class="">
                                            <a class="" href="/u/elise_boyer" title="">
                                                <span>E</span>
                                            </a>
                                            <ul class="DiscussionListItem-badges badges"></ul>
                                            <a href="/d/41-hic-quo" class="DiscussionListItem-main">
                                                <h2 class="DiscussionListItem-title">Hic quo.</h2>
                                                <ul class="">                                                        
                                                    <li class="">
                                                        <span> 
                                                            <span class="username">elise_boyer</span>
                                                            started 
                                                                    <time>16 hours ago</time>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </a>
                                            <button class="">
                                                <span>2.3K</span>
                                                <span class="">2345unread replies. Mark unread replies as read.</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <myfooter></myfooter>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/httpvueloader.js"></script>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="libs/swiper/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            components: {
                myheader: httpVueLoader('vue_components/header.vue'),
                myfooter: httpVueLoader('vue_components/footer.vue'),
            },
            mounted() {
                $(window).bind('load', function () {

                });
            },
        });
    </script>
</body>

</html>