<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trường thành Đại Việt</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="libs/fancybox/fancybox.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
  <div id="app">
    <myheader></myheader>
    <main>
      <div class="question_wrapper">
        <div class="page-title d-sm-block">
          <div class="container">
            <div class="title">
              <h2>Repellat deleniti totam.</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="question-detail-wrapper">
            <div class="ques-d-left">
              <div class="list-post">
                <div class="item-post" v-for="n in 10">
                  <a class="user-img-icon" href="/u/elise_boyer" title="">
                    <span>E</span>
                  </a>
                  <div class="item-post-content">
                    <div class="inf-user-post">
                      <span class="use"> abcdef</span>
                      <span>14 giờ trước</span>
                    </div>
                    <div class="content">
                      <p>Aut aspernatur maxime quia atque hic. Dolores est earum fugit quaerat doloribus voluptatum ut.
                        Qui praesentium dolores quasi saepe. Sed ut molestiae nisi iste.</p>

                      <p>Sit nesciunt ipsa ut non perspiciatis. Aspernatur facilis ad architecto. Quasi alias ut dolorem
                        nobis. Nostrum ex velit laborum odit odio hic non.</p>

                      <p>Unde ipsam quia possimus minus quidem earum placeat. Occaecati autem est dolores nisi nesciunt
                        beatae quidem. Molestiae aut repellendus similique officia. Eveniet quidem qui eaque delectus
                        architecto. Vel iure expedita illo.</p>

                      <p>Nobis enim dignissimos ipsum earum aut minima. Rerum sunt culpa a blanditiis. Perspiciatis eos
                        est molestiae dolores minima vel et.</p>
                    </div>
                    <div class="repdy-like">
                      <span>Reply</span>
                      <span>Like</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ques-d-right">
              <div style="position: relative;">
                <nav class="DiscussionPage-nav">
                  <ul>
                    <li class="item-controls">
                      <div class="">
                        <button class="view_all_question" type="button">Trả lời câu hỏi</button>
                        <ul class="Dropdown-menu dropdown-menu Dropdown-menu--right">
                          <li class="item-reply"><button class="hasIcon" type="button"><i aria-hidden="true"
                                class="icon fas fa-reply Button-icon"></i><span class="Button-label">Reply</span></button>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="item-scrubber">
                      <div class="PostStreamScrubber Dropdown App-titleControl">
                        <div class="Dropdown-menu dropdown-menu">
                          <div class="Scrubber"><a class="Scrubber-first"><i aria-hidden="true"
                                class="icon fas fa-angle-double-up "></i> Original Post</a>
                            <div class="Scrubber-scrollbar" style="max-height: 127.667px;">
                              <div class="Scrubber-before" style="height: 0%;"></div>
                              <div class="Scrubber-handle" style="height: 16.6667%;">
                                <div class="Scrubber-bar"></div>
                                <div class="Scrubber-info"><strong><span class="Scrubber-index">1</span> of <span
                                      class="Scrubber-count">10</span> posts</strong><span
                                    class="Scrubber-description">April 2023</span></div>
                              </div>
                              <div class="Scrubber-after" style="height: 83.3333%;"></div>
                              <div class="Scrubber-unread" style="top: 10%; height: 90%;">9 unread</div>
                            </div><a class="Scrubber-last"><i aria-hidden="true"
                                class="icon fas fa-angle-double-down "></i> Now</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <myfooter></myfooter>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/httpvueloader.js"></script>
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/popper.min.js"></script>
  <script src="libs/bootstrap/bootstrap.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script src="libs/fancybox/fancybox.umd.js"></script>
  <script src="js/main.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      components: {
        myheader: httpVueLoader('vue_components/header.vue'),
        myfooter: httpVueLoader('vue_components/footer.vue'),
      },
      mounted() {
        $(window).bind('load', function () {
          // Initialize Swiper
          var swiper__ourservices = new Swiper("#swiper__ourservices .mySwiper", {
            centeredSlides: true,
            centeredSlidesBounds: true,
            spaceBetween: 0,
            // Responsive breakpoints
            breakpoints: {
              320: {
                slidesPerView: 1,
              },
              576: {
                slidesPerView: 2,
              },
              768: {
                slidesPerView: 3.5,
              },
              1200: {
                slidesPerView: 4,
              }
            },
            navigation: {
              nextEl: "#swiper__ourservices .swiper-button-next",
              prevEl: "#swiper__ourservices .swiper-button-prev",
            },
            on: {
              init: function () {
                if ($(window).width() >= 768) this.slideTo(2);
              },
            },
          });

          // scoped swiper syncing

          // thumb siwper
          var thumbSwiper = new Swiper("#thumbSwiper .mySwiper", {
            breakpoints: {
              320: {
                slidesPerView: 5,
                spaceBetween: 10
              },
              768: {
                slidesPerView: 5,
                spaceBetween: 10
              },
            },
            navigation: {
              nextEl: "#thumbSwiper .swiper-button-next",
              prevEl: "#thumbSwiper .swiper-button-prev",
            },
          });

          // main siwper
          var mainSwiper = new Swiper("#mainSwiper .mySwiper", {
            speed: 1000,
            thumbs: {
              swiper: thumbSwiper
            },
            navigation: {
              nextEl: "#mainSwiper .swiper-button-next",
              prevEl: "#mainSwiper .swiper-button-prev",
            },
            effect: 'fade',
            fadeEffect: {
              crossFade: true
            },
          });

        });
      },
    });
  </script>
</body>

</html>