<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Trường thành Đại Việt</title>
	<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
	<div id="app">
		<myheader class="no_fixed"></myheader>
		<main>
			<section class="py-4">
				<div class="container">
					<div class="card card-outline rounded-0 card-navy">
						<div class="card-header">
							<h4 class="font-weight-bolder">Update User Details</h4>
						</div>
						<div class="card-body">
							<div class="container-fluid">
								<div id="msg"></div>
								<form action="" id="manage-user">	
									<input type="hidden" name="id" value="4">
									<input type="hidden" name="type" value="2">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="firstname" class="control-label">First Name</label>
												<input type="text" class="form-control form-control-sm rounded-0" reqiured="" name="firstname" id="firstname" value="Mark">
											</div>
											<div class="form-group">
												<label for="middlename" class="control-label">Middle Name</label>
												<input type="text" class="form-control form-control-sm rounded-0" name="middlename" id="middlename" value="D">
											</div>
											<div class="form-group">
												<label for="lastname" class="control-label">Last Name</label>
												<input type="text" class="form-control form-control-sm rounded-0" reqiured="" name="lastname" id="lastname" value="Cooper">
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="username" class="control-label">Username</label>
												<input type="text" class="form-control form-control-sm rounded-0" reqiured="" name="username" id="username" value="mcooper">
											</div>
											<div class="form-group">
												<label for="password" class="control-label">New Password</label>
												<div class="input-group input-group-sm">
													<input type="password" class="form-control form-control-sm rounded-0" name="password" id="password">
													<button tabindex="-1" class="btn btn-outline-secondary btn-sm rounded-0 pass_view" type="button"><i class="fa fa-eye-slash"></i></button>
												</div>
											</div>
											<div class="form-group">
												<label for="cpassword" class="control-label">Confirm New Password</label>
												<div class="input-group input-group-sm">
													<input type="password" class="form-control form-control-sm rounded-0" id="cpassword">
													<button tabindex="-1" class="btn btn-outline-secondary btn-sm rounded-0 pass_view" type="button"><i class="fa fa-eye-slash"></i></button>
												</div>
											</div>
											<small class="text-muted"><i>Leave the Password Fields Blank if you don't widh to update you password.</i></small>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="" class="control-label">Avatar</label>
												<div class="custom-file">
													<input type="file" class="custom-file-input rounded-0" id="customFile" name="img" onchange="displayImg(this,$(this))" accept="image/png, image/jpeg">
													<label class="custom-file-label rounded-0" for="customFile">Choose file</label>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group d-flex justify-content-center">
												<img src="http://localhost/odfs/uploads/avatars/4.png?v=1652667135" alt="" id="cimg" class="img-fluid img-thumbnail">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="card-footer py-1 text-center">
							<button class="btn btn-sm btn-primary btn-sm btn-flat" form="manage-user">Update</button>
						</div>
					</div>
				</div>
			</section>
		</main>
		<myfooter></myfooter>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/httpvueloader.js"></script>
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/bootstrap/popper.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<script src="libs/swiper/swiper-bundle.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			components: {
				myheader: httpVueLoader('vue_components/header.vue'),
				myfooter: httpVueLoader('vue_components/footer.vue'),
			},
			mounted() {
				$(window).bind('load', function () {

				});
			},
		});
	</script>
</body>

</html>