<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Trường thành Đại Việt</title>
	<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
	<div id="app">
		<myheader></myheader>
		<main>
			<div class="master-wrapper">
				<div class="breadcrumb-wrapper">
					<div class="container">
						<div class="row-breadcrumb">
							<nav aria-label="breadcrumb">
								<ul class="breadcrumb">
									<li class="breadcrumb-item-detail" aria-current="page"><a href="#">Trang chủ</a></li>
									<li class="breadcrumb-item-detail"><a href="#">Tin Tức</a></li>
									<li class="breadcrumb-item-detail"><a href="#">Thông cáo báo chí</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="news-wrapper-detail">
						<div class="news-detail-left">
							<div class="news-detail-title">
								<h1>Tập đoàn Trường Thành Đại Việt được vinh danh "Nơi làm việc tốt nhất châu Á"</h1>
								<p>01/01/2023</p>
							</div>
							<div class="news-detail-content">
								<p>
									Ngày 11/08/2022, Tập đoàn Trường Thành Đại Việt đã xuất sắc vượt qua hàng trăm hồ sơ của các doanh
									nghiệp và tổ chức để đạt giải "Nơi làm việc tốt nhất châu Á 2022" do HR Asia – Tạp chí nhân sự hàng
									đầu châu Á bình chọn.
								</p>
								<p>
									<img src="images/news/news-detail-content1.png" alt="">
								</p>
								<p>
									Xuyên suốt quá trình hình thành và phát triển, Stavian Group luôn chú trọng phát triển song hành giữa
									hoạt động kinh doanh và yếu tố con người. Ngày từ những ngày đầu thành lập, quan điểm xây dựng doanh
									nghiệp của Tập đoàn Stavian chính là: "Con người là giá trị cốt lõi, là nhân tố cơ bản xây dựng nên sự
									thành công, sự vững mạnh của thương hiệu". Stavian Group cũng luôn chú trọng đầu tư xây dựng một môi
									trường làm việc theo mô hình DEI (Đa dạng – Bình đẳng – Hòa nhập). Bên cạnh đó, người lao động luôn
									được hưởng chế độ phúc lợi tốt nhất và chính sách đảm bảo quyền lợi cho người lao động theo Luật Lao
									động. Tại Stavian Group, phúc lợi dành cho CBCNV được chia thành 6 gói từ cơ bản đến nâng cao. Phúc
									lợi này không chỉ hướng đến mỗi nhân viên, mà còn hướng đến việc chăm sóc gia đình của họ, không chỉ
									hướng đến phúc lợi tài chính mà còn chăm sóc cả vấn đề sức khỏe và tinh thần để đội ngũ nhân viên yên
									tâm công tác và gắn bó với Tập đoàn.
								</p>
								<p>
									<img src="images/news/news-detail-content2.png" alt="">
								</p>
								<p>
									Ông Đinh Đức Thắng - Chủ tịch HĐQT Tập đoàn Stavian chia sẻ tại sự kiện: "Stavian Group luôn chú trọng
									sự hài hòa giữa yếu tố con người - là yếu tố cốt yếu của môi trường bên trong cân bằng với các yếu tố
									kinh doanh bên ngoài doanh nghiệp, thúc đẩy sự phát triển toàn diện của người lao động, xây dựng môi
									trường làm việc mà ở đó mọi cá nhân có thể phát huy hết khả năng của mình. Với định hướng hoạt động đa
									ngành, đa quốc gia, Stavian Group tiếp tục hướng tới phát triển bền vững, tạo công ăn việc làm và đảm
									bảo thu nhập cao cho người lao động, mang lại lợi ích cho các cổ đông và các nhà đầu tư, góp phần cho
									sự phát triển kinh tế quốc gia, tích cực tham gia bảo vệ môi trường và hoạt động có trách nhiệm với
									cộng đồng.”
								</p>
								<p>
									Từ khi thành lập, năm giá trị cốt lõi: Tinh thần làm chủ - Tận hiến – Trí tuệ - Chính trực – Tính Quốc
									tế và sự đề cao việc chủ động học tập, bổ sung kiến thức đã giúp Stavian Group trở thành môi trường
									làm việc hạnh phúc, mà ở đó ai cũng có cơ hội được phát triển tối đa năng lực bản thân. Với mục tiêu
									phát triển nguồn nhân lực bền vững và lấy yếu tố con người là trọng tâm, song song với các chế độ phúc
									lợi, Stavian Group còn liên tục triển khai định kỳ các hoạt động đào tạo và văn hóa doanh nghiệp cho
									người lao động nhằm đảm bảo trang bị đầy đủ kiến thức chuyên môn cũng như phục vụ cho lộ trình phát
									triển bản thân của mỗi cá nhân. Đây cũng chính là một trong những yếu tố mà HR Asia đánh giá cao về
									Stavian Group trong quá trình xét chọn giải thưởng.
								</p>
								<p>
									Việc được công nhận là “Nơi làm việc tốt nhất Châu Á 2022” cho thấy Stavian Group đã thành công trong
									việc phát triển văn hóa doanh nghiệp, có chính sách quản trị nhân sự vượt trội, chế độ đãi ngộ hấp dẫn
									và đạt được sự gắn kết cao của người lao động.
								</p>
							</div>
							<div class="end-detail-content">
								<div class="btn-return">
									<a href="javascript:;"><img src="images/news/return.png" alt=""> Trở lại chuyên mục tin tức</a>
								</div>
								<div class="social-ic-wrapper">
									<p>Chia sẻ:</p>
									<a href="javascript:;"> <img src="images/news/facebook.png" alt=""></a>
									<a href="javascript:;"><img src="images/news/twitter.png" alt=""></a>
									<a href="javascript:;"><img src="images/news/mail.png" alt=""></a>
									<a href="javascript:;"><img src="images/news/link.png" alt=""></a>
								</div>
							</div>
						</div>
						<div class="news-detail-right">
							<div class="news-detail-right-container">
								<div class="category-news">
									<h2>TIN TỨC CÙNG CHUYÊN MỤC</h2>
									<div class="list--inner">
										<div class="list-item" v-for="n in 5">
											<div class="item-image">
												<a href="javascript:;t:;" title="">
													<img class="img-fluid" src="images/news/news-detail.png" alt="">
												</a>
											</div>
											<div class="item-content">
												<a href="javascript:;t:;" class="item-title" title="">
													UBND tỉnh Hưng Yên trao tặng Bằng khen và Cúp Phố Hiến năm 2021 cho Stavian Chemical
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="recruiment-form">
									<img src="images/news/Khien.png" alt="">
									<h4>tuyển dụng</h4>
									<form action="" class="test">
										<div class="recruiment-form-detail">
											<div class="input-wrapper">
												<input class="input-recruiment-form" type="text" required>
												<label class="label-recruiment-form required">Họ và tên</label>
											</div>
											<div class="input-wrapper">
												<input class="input-recruiment-form" type="text" required>
												<label class="label-recruiment-form">Email...</label>
											</div>
											<div class="input-wrapper">
												<input class="input-recruiment-form" type="text" required>
												<label class="label-recruiment-form">Số điện thoại</label>
											</div>
											<div class="input-wrapper">
												<textarea class="textarea-recruiment-form" type="text" required="required"></textarea>
												<label class="label-recruiment-form required">Nội dung kèm theo...</label>
											</div>
											<button class="btn-send">GỬI THÔNG TIN
												<img src="images/news/next.png" alt="">
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<myfooter></myfooter>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/httpvueloader.js"></script>
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/bootstrap/popper.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<script src="libs/swiper/swiper-bundle.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			components: {
				myheader: httpVueLoader('vue_components/header.vue'),
				myfooter: httpVueLoader('vue_components/footer.vue'),
			},
			mounted() {
				$(window).bind('load', function () {

				});
			},
		});
	</script>
</body>

</html>