<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Trường thành Đại Việt</title>
	<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
	<div id="app">
		<myheader></myheader>
		<main>
			<div class="news-wrapper">
                <div class="product-category-section-bg"
                    style="background: url(../images/capacity/bg-new.png);">
                    <div class="container">
                        <div class="product-category-title">
                            <h5>Tin tức</h5>
                        </div>
                    </div>
                        <div class="breadcrum-wrapper">
                            <div class="container">
                                <div class="row-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item  active " aria-current="page">
                                                <a href="javascrip:;">Tất cả</a>
                                            </li>
                                                                        <li class="breadcrumb-item ">
                                                <a href="javascrip:;">Tin tức</a>
                                            </li>
                                                                        <li class="breadcrumb-item ">
                                                <a href="javascrip:;">Tuyển dụng</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                        </div>
                </div>
                <div class="news-section-list">
                    <div class="container">
                        <div class="news-list-wrapper">
                            <div class="news-item-wrapper" v-for="(item) in dataList">
                                <div class="type-news-wrapper">
                                    <div class="type-news">
                                        <img :src="item.imgicon" alt="">   
                                        <a href=""><H5>{{item.type}}</H5></a>                                         
                                    </div>
                                </div>
                                <div class="news-item-content-wrapper">
                                    <div class="news-image-box">
                                        <a href="javascrip:;">
                                            <img :src="item.img" alt="">
                                        </a>
                                    </div>
                                    <div class="news-content-wrapper">
                                        <p class="date">20 Tháng 9, 2022</p>
                                        <svg width="40" height="1" viewBox="0 0 40 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <line y1="0.5" x2="40" y2="0.5" stroke="black"/>
                                        </svg>                                                            
                                        <a href="javascrip:;">
                                            <h1 class="news-title">
                                                {{item.title }}
                                            </h1>
                                        </a>
                                        <p class="news-description">
                                            {{item.desc}}
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="paginate-custom">
                                <a class="arrow" href="" title="">
                                  <i class="fas fa-chevron-left"></i>
                                </a>
                                <a href="" title="" class="active">1</a>
                                <a href="" title="">2</a>
                                <a href="" title="">3</a>
                                <a href="" title="">4</a>
                                <a href="" title="">5</a>
                                <a href="" title="">20</a>
                                <a class="arrow" href="" title="">
                                  <i class="fas fa-chevron-right"></i>
                                </a>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
		</main>
		<myfooter></myfooter>
	</div>
	<script src="js/vue.js"></script>
	<script src="js/httpvueloader.js"></script>
	<script src="libs/jquery/jquery.min.js"></script>
	<script src="libs/bootstrap/popper.min.js"></script>
	<script src="libs/bootstrap/bootstrap.min.js"></script>
	<script src="libs/swiper/swiper-bundle.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			components: {
				myheader: httpVueLoader('vue_components/header.vue'),
				myfooter: httpVueLoader('vue_components/footer.vue'),
				"page-title": httpVueLoader('vue_components/page-title.vue'),
				"article-blog": httpVueLoader('vue_components/article-blog.vue'),
			},
			data() {
      return {
        dataList: [
          {
            imgicon:'images/capacity/icon-news.png',
            type:'Tin tức',
            img: 'images/capacity/product2.png',
            title: 'Kim loại đen và kim loại màu là gì? Tính chất, ứng dụng của chúng',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/recru.png',
            type:'tuyển dụng',
            img: 'images/capacity/product3.png',
            title: 'Tuyển 50 công nhân làm việc tại nhà máy',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/icon-news.png',
            type:'Tin tức',
            img: 'images/capacity/product4.png',
            title: 'Làm thế nào để xác định các loại kim loại khác nhau?',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/recru.png',
            type:'tuyển dụng',
            img: 'images/capacity/product5.png',
            title: 'Tuyển 50 công nhân làm việc tại nhà máy',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/icon-news.png',
            type:'Tin tức',
            img: 'images/capacity/product6.png',
            title: 'Làm thế nào để xác định các loại kim loại khác nhau?',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/recru.png',
            type:'tuyển dụng',
            img: 'images/capacity/product7.png',
            title: 'Tuyển 50 công nhân làm việc tại nhà máy',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
          {
            imgicon:'images/capacity/icon-news.png',
            type:'Tin tức',
            img: 'images/capacity/product8.png',
            title: 'Làm thế nào để xác định các loại kim loại khác nhau?',
            desc: 'Từ rất nhiều trăm năm về trước sự xuất hiện của kim loại mang đến một thời kỳ mới đánh dấu bước tiến của con người. Tuy rằng đã có được những kiến thức về kim loại.'
          },
        ],
      }
    },
    methods: {

    },
			mounted() {
				$(window).bind('load', function () {

				});
			},
		});
	</script>
</body>

</html>