.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 80px;
    background: none;
    z-index: 99;

    .navbar {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 5%;
        align-items: center;
    }

    .top_nav {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:end;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }

    .icon {
        .nav_toggle {
            display: block;
            position: relative;
            width: 36px;
            height: 50px;
            z-index: 100;
            cursor: pointer;
            border: none;
            outline: none;
            transform: scale(2);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            background: transparent;
            transition: all 250ms ease;
            background: transparent;
            padding: 0;

            @media(min-width: 768px) {
                width: 72px;
                height: 72px;
            }
        }

        .nav_toggle .icon_bar {
            position: relative;
            display: block;
            background: #fff;
            height: 1px;
            margin: 10px 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: 0.5s ease-in-out;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -ms-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
        }

        .active {
            transform: translateY(6px) translateX(0) rotate(45deg);
            @media(min-width:992px) {
                transform: translateY(6px) translateX(0) rotate(25deg);
            }
        }

        .active_2 {
            transform: translateY(-6px) translateX(0) rotate(-45deg);
            @media(min-width:992px) {
                transform: translateY(-6px) translateX(0) rotate(-25deg);
            }
        }
    }

    .product {
        position: relative;
        justify-content: space-between;
        font-size: .8rem;
        letter-spacing: 1.2px;
        display: none;

        @media(min-width:992px) {
            display: flex;
        }

        .title {
            a {
                display: inline-flex;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #2D9CDB;
                writing-mode: vertical-lr;
                margin-top: 125px;
                margin-right: 60px;

                &:hover {
                    color: #03E6F4;
                }
            }
        }

        .product_item {
            padding: 110px 0;
            width: 100%;
            display: flex;
            flex-flow: column;
            max-width: 550px;
            height: 100%;

            .list_item {
                margin-bottom: 20px;
            }
        }

        .product_link {
            font-family: 'Barlow';
            font-style: normal;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            font-weight: 300;
            font-size: 56px;
            line-height: 70px;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            pointer-events: visiblePainted;
        }

        .product_link:hover {
            transition: color .1s linear;
            color: #03E6F4;
        }
    }

    .nav {
        position: relative;
        font-size: .8rem;
        letter-spacing: 1.2px;
    }

    .nav_item {
        width: 100%;

        @media(min-width:992px) {
            padding-top: 224px;
            padding-bottom: 0;
        }

        @media(max-width:992px) {
            margin-top: 112px;
            max-height: calc(100vh - 300px);
            overflow-y: auto;
        }
    }

    .list_item {
        .nav_link {
            margin-bottom: 20px;
        }

        &:last-child {
            .nav_link {
                margin-bottom: 0px;
            }
        }
    }

    .nav_link {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        pointer-events: visiblePainted;
    }
    .active {
        font-size: 32px;
        color: #03E6F4;
    }
    @media(min-width:992px) {
        .nav_link {
            &:hover {
                transition: color .1s linear;
                color: #03E6F4;
            }
        }
    }

    .nav_menu_drop {
        animation: lefttoright 1500ms forwards;
        position: fixed;
        top: 0;
        opacity: 1;
        width: 100%;
        height: 100%;
        padding: 0 5%;
        background: #0054A6;

        .main_nav_drop {
            display: block;
            flex-wrap: wrap;
            justify-content: space-between;

            @media(min-width:992px) {
                display: flex;
            }
        }
    }
    .product_drop {
        display: none;
        border-right: 1px solid #fff;
        padding-right: 20px;
        margin: 20px 0;
        .list_item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            .product_link {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.1em;
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                pointer-events: visiblePainted;

                .active {
                    font-size: 32px;
                    color: #03E6F4;
                }
            }
        }
    }
    .search {
        display: none;
        @media(min-width:992px) {
            display: block;
            margin-left: auto;
            padding-bottom: 30px;
        }
    }

    .search_drop {
        position: absolute;
        width: 100%;
        bottom:55px;
        left: 0;
        padding: 0 5%;
        @media(min-width:992px) {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            background: #0054A6;
            flex-flow: column;
            justify-content: center;
            padding: 0;
        }
    }

    .search_wrapper {
        max-width: 900px;
        margin: 0 auto;

        .title {
            display: none;
            @media(min-width:992px) {
                font-weight: 500;
                font-size: 50px;
                line-height: 80px;
                text-align: center;
                margin-bottom: 100px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
    .input_box{
        max-width: 70%;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        transition: all 0.3s linear;
        @media(min-width:992px) {
            max-width: 100%;
            padding: 0 0 16px 0;
            border-bottom: 1px solid #FFFFFF;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        .btn-search {
            width: 24px;
            height: 24px;
            background: none;
            outline: none;
            border: none;
            padding: 0;
            @media(min-width:992px) {
                width: unset;
                height: unset;
            }
        }

        input {
            flex: 1;
            background: none;
            border: none;
            font-family: 'Barlow';
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            padding: 0;
            @media(min-width:992px) {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .search_open {
        top: 0;
        left: 0;
        display: flex;
        opacity: 1;
        z-index: 3;
    }

    .menu_open {
        display: block;
        left: 0;
        opacity: 1;
        z-index: 2;
        animation: righttoleft 400ms forwards;
    }

    @keyframes righttoleft {
        0% {
            transform: translateX(80%)
        }

        100% {
            transform: translateX(0%)
        }
    }

    @keyframes lefttoright {
        0% {
            transform: translateX(0%)
        }

        100% {
            transform: translateX(-100%)
        }
    }
}
.header-unfixed {
    background: #0054a6;
}
.sticky {
    position: fixed;
    background: #0054a6;
    transition: background .1s linear;
    box-shadow: rgba(16, 16, 16, .4196078431) 0 3px 9px;
}