<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trường thành Đại Việt</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
  <div id="app">
    <myheader></myheader>
    <main>

      <page-title title="Giới thiệu"></page-title>

      <section class="introduce-main">
        <div class="introduce-top">

          <div class="container">
            <div class="introduce--title-page">
              <h3>
                VỀ CHÚNG TÔI
              </h3>
            </div>
          </div>

          <div class="wrapper">
            <div id="js__marginCalculate" class="textbox">
              <div class="text">
                <div class="text-sub">
                  CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ <br>
                  TRƯỜNG THÀNH ĐẠI VIỆT
                </div>
              </div>

              <div class="desc">
                <p>
                  Công ty cổ phần dịch vụ bảo vệ Trường Thành Đại Việt xin được gửi đến quý
                  Khách hàng lời chào trân trọng, lời chúc sức khỏe và thành công!
                </p>
                <p>
                  Công ty cổ phần dịch vụ bảo vệ Trường Thành Đại Việt được cấp giấy phép hoạt động
                  kinh doanh trong lĩnh vực dịch vụ bảo vệ trên phạm vi toàn quốc năm 2011 với sự quan tâm
                  hỗ trợ của Cục Chống Khủng Bố (nay là Cục An Ninh Nội Địa – Bộ Công An) và tập đoàn
                  Bamboo Capital – BCG Group.
                </p>
                <p>
                  Công ty cổ phần dịch vụ bảo vệ Trường Thành Đại Việt được thành lập với mong muốn
                  mang đến cho quý khách hàng chất lượng tốt nhất đối với nghề dịch vụ bảo vệ chúng
                  tôi có:
                </p>
                <ul>
                  <li>
                    Trụ sở chính tại: 16A5 Lý Nam Đế, P. Hàng Mã, Q. Hoàn Kiếm, TP. Hà Nội.
                  </li>
                  <li>
                    Văn phòng miền nam tại: 14G Phan Văn Trị, P.7, Q. Gò Vấp, TP. Hồ Chí Minh.
                  </li>
                </ul>
              </div>
            </div>

            <div class="imagebox">
              <img src="images/img-banner.png" alt="">
            </div>
          </div>
        </div>

        <div class="introduce-content">
          <div class="container">

            <img src="images/img-introduce-content.png" alt="">

            <p>
              Chúng tôi đã góp phần đắc lực cùng các cơ quan chức năng trong công tác đấu tranh phòng,
              chống tội phạm, phòng chống khủng bố, giữ gìn an ninh trật tự; tạo việc làm cho người lao
              động và môi trường an toàn cho doanh nghiệp phát triển
            </p>

            <p>
              Ban lãnh đạo là những người có bề dày kinh nghiệm trong lĩnh vực bảo vệ, vận hành trong
              một quy chế chặt chẽ và khoa học, tổ chức kỷ luật cao.
            </p>

            <p>
              Công ty cổ phần dịch vụ bảo vệ Trường Thành Đại Việt luôn tôn trọng và đặt lợi ích của
              khách hàng lên hàng đầu và con người được xem là nhân tố quyết định đem đến sự thành
              công. Đội ngũ nhân viên được tuyển chọn và đào tạo chuyên nghiệp từ cơ bản đến nâng cao
              nghiệp vụ, võ thuật bởi những chuyên gia hàng đầu trong ngàng bảo vệ. Chúng tôi luôn làm
              việc với tinh thần trách nhiệm cao, thích ứng nhanh với mọi tình huống xảy ra, lịch sự, đạo
              đức, luôn lắng nghe ý kiến khách hàng
            </p>

            <img src="images/img-introduce-content-1.png" alt="">

            <p>
              Công ty cổ phần dịch vụ bảo vệ Trường Thành Đại Việt chuyên cung cấp các sản phẩm dịch
              vụ như sau:
            </p>

            <ul>
              <li>
                Dịch vụ bảo vệ mục tiêu cố định: Công ty, văn phòng, nhà máy, xí nghiệp, kho bến bãi,
                trường học, bệnh viện, công trình xây dựng, chung cư, siêu thị, khách sạn...
              </li>

              <li>
                Dịch vụ bảo vệ mục tiêu di động: Áp tải tiền, áp tải hàng hóa ....
              </li>

              <li>
                Dịch vụ vệ sỹ: Bảo vệ yếu nhân, sự kiện ..
              </li>
            </ul>

          </div>
        </div>
      </section>

      <section class="introduce-vision">
        <div class="container">

          <div class="introduce--title-page">
            <h2>
              TẦM NHÌN & SỨ MỆNH
            </h2>
          </div>

          <div class="introduce-vision--contentbox">
            <div class="row align-items-center">
              <div class="col-lg-7 col-12 mb-4 mb-lg-0">
                <div class="imagebox">
                  <img src="images/img-introduce-vision-1.png" alt="">
                </div>
              </div>
              <div class="col-lg-5 col-12">
                <div class="textbox">

                  <h4 class="title">
                    TẦM NHÌN
                  </h4>

                  <p>
                    Công ty CP DVBV Trường Thành Đại Việt hướng tới trở thành một trong những công ty cung
                    cấp dịch vụ Bảo vệ chuyên nghiệp hàng đầu Việt nam. Tuy nhiên, chúng tôi luôn chú
                    trọng trong công tác nâng cao chất lượng dịch vụ cung như đáp ứng đa dạng các nhu cầu
                    của Khách hàng. Luôn mang lại cho khách hàng những loại hình Bảo vệ ưu việt nhất,
                    chất lượng dịch vụ tốt nhất. Thiết lập mối quan hệ thân thiết nhất và bền vững
                    nhất tới từng Khách hàng.
                  </p>

                </div>
              </div>
            </div>
          </div>

          <div class="introduce-vision--contentbox">
            <div class="row align-items-center flex-lg-row-reverse">
              <div class="col-lg-7 col-12 mb-4 mb-lg-0">
                <div class="imagebox">
                  <img src="images/img-introduce-vision-2.png" alt="">
                </div>
              </div>
              <div class="col-lg-5 col-12">
                <div class="textbox">

                  <h4 class="title">
                    SỨ MỆNH
                  </h4>

                  <p>
                    Với sứ mệnh tham gia đóng góp vào sự phát triển của Đất nước. Ban lãnh đạo và tập
                    thể cán bộ nhân viên Công ty CP DVBV Trường Thành Đại Việt đang “hoàn thiện trên từng
                    bước phát triển”, không chỉ hoàn thiện mình trong công tác chuyên môn mà còn liên
                    tục hoàn thiện nhân cách, tác phong, điều lệnh của từng cán bộ quản lý, nhân viên
                    để ngày càng nâng cao chất lượng nghiệp vụ.
                    Mọi cố gắng, nỗ lực của Công ty luôn hướng tới lợi ích khách hàng là trên hết,
                    lợi ích của người lao động được bảo đảm, lợi ích của cổ đông được chú trọng,
                    đóng góp hiệu quả vào sự phát triển của công ty, khách hàng và đất nước.
                  </p>

                  <p>
                    Luôn hướng tới sự hoàn thiện trong việc cung cấp dịch vụ bảo vệ nhằm đảm bảo an
                    toàn cho khách hàng đóng góp vào sự phát triển chung của đất nước thông qua việc xây
                    dựng đội ngũ nhân viên tâm huyết chuyên nghiệp và am hiểu nhu cầu của khách hàng
                  </p>

                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="core-values introduce--core-values">
        <div class="container">

          <div class="core-values--title">
            GIÁ TRỊ CỐT LÕI
          </div>

          <ul class="box-items">
            <li v-for="(item,index) in coreValuesObj">
              <div class="image">
                <img :src="'images/img-corevalues-' + (index + 1) + '.png'" alt="">
              </div>

              <div class="content">
                <div class="text">
                  <h3>
                    {{ item.title }}
                  </h3>
                </div>

                <div class="desc">
                  <p>
                    {{ item.desc }}
                  </p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </section>

      <section class="introduce--culture">
        <div class="container">

          <div class="introduce--title-page">
            <h2>
              VĂN HOÁ DOANH NGHIỆP
            </h2>
          </div>

          <div class="row">
            <div class="col-md-4 col-12 mb-4 mb-md-0" v-for="(item,index) in cultureObj" :key="index">
              <div class="item">
                <div class="image">
                  <div class="img">
                    <img :src="'images/img-culture-' + (index + 1) + '.png'" alt="">
                  </div>

                  <div class="title">
                    {{ item.title }}
                  </div>
                </div>

                <div class="desc">
                  {{ item.desc }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <contactform></contactform>
    <myfooter></myfooter>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/httpvueloader.js"></script>
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/popper.min.js"></script>
  <script src="libs/bootstrap/bootstrap.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      components: {
        myheader: httpVueLoader('vue_components/header.vue'),
        myfooter: httpVueLoader('vue_components/footer.vue'),
        "page-title": httpVueLoader('vue_components/page-title.vue'),
        contactform: httpVueLoader('vue_components/contact-form.vue'),
      },
      data() {
        return {
          coreValuesObj: [
            {
              title: 'Khách hàng là trọng tâm',
              desc: 'Thấu hiểu, đáp ứng nhu cầu và cam kết mang lại giải pháp phù hợp nhất.'
            },
            {
              title: 'dịch vụ chuyên nghiệp',
              desc: 'Tác nghiệp nhanh chóng, gọn lẹ, chính xác và hiệu quả'
            },
            {
              title: 'thân thiện',
              desc: 'Nghiệp vụ vững vàng, văn hóa ứng xử chuẩn mực'
            },
            {
              title: 'tốc độ',
              desc: 'Chủ động trong mọi tình huống và đối phó mọi nguy cơ, dịch vụ liên tục cải tiến và chuẩn hóa.'
            },
            {
              title: 'sáng tạo',
              desc: 'Hợp tác và chia sẻ, môi trường làm việc thân thiện và lành mạnh'
            },
          ],
          cultureObj: [
            {
              title: 'Chính trực',
              desc: 'Nhân viên Công ty đảm bảo tính trung thực và đáng tin cậy khi làm việc không cần sự giám sát đối với những cơ sở cũng như hàng hóa có giá trị cao của khách hàng.'
            },
            {
              title: 'THẬN TRỌNG',
              desc: 'Nhân viên được đào tạo chuyên nghiệp đòi hỏi phải nhìn, nghe và đánh giá, và đặc biệt luôn thận trọng trong công việc. Cảnh giác và thận trọng là cần thiết để nhận thức được những rủi ro tiềm tàng hoặc sự cố đang diễn ra trên cơ sở khách hàng của chúng tôi.'
            },
            {
              title: 'TRÁCH NHIỆM',
              desc: 'Thể hiện tinh thần trách nhiệm của mỗi thành viên trong Công ty chính là chứng minh năng lực và thể hiện ý chí gắn bó đồng hành cùng Công ty phát triển một cách bền vững và ổn định.'
            },
          ]
        }
      },
      mounted() {
        $(window).bind('load', function () {
          // banner textbox JS
          if ($(window).width() >= 992) {
            let w_window = $(document).innerWidth();
            let w_container = $('.container').innerWidth();
            $('#js__marginCalculate').css('padding-left', (w_window - w_container + 18) / 2)
          }
        });
      },
    });
  </script>
</body>

</html>