<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trường thành Đại Việt</title>
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="libs/fancybox/fancybox.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="home">
  <div id="app">
    <myheader></myheader>
    <main>

      <div class="breadcrumb-wrapper">
        <div class="container">
          <div class="row-breadcrumb">
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item-detail" aria-current="page"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item-detail"><a href="#">Tin Tức</a></li>
                <li class="breadcrumb-item-detail"><a href="#">Tin Video</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="video-detail-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12 mb-5 mb-lg-0">

              <div class="article-detail-wrapper video-detail-main p-0">
                <div class="video-item">
                  <div class="image">
                    <div class="img">
                      <!-- <img src="images/img-video-article.png" alt=""> -->
                      <img src="https://img.youtube.com/vi/TmjyM0abmyE/maxresdefault.jpg" alt="">
                    </div>

                    <a href="https://youtu.be/TmjyM0abmyE" class="play-button fancyboxJS-article-video" data-fancybox>
                      <img src="images/play-button.svg" alt="">
                    </a>
                  </div>

                  <div class="content">
                    <a href="javascript:;" class="title">
                      Tập đoàn Trường Thành Đại Việt được vinh danh "Nơi làm việc tốt nhất châu Á"
                    </a>
                    <span class="date">
                      22/09/2022
                    </span>
                  </div>
                </div>

              </div>

              <div class="end-detail-content">
                <div class="btn-return">
                  <a href="javascript:;"><img src="images/news/return.png" alt=""> Trở lại chuyên mục tin tức</a>
                </div>
                <div class="social-ic-wrapper">
                  <p>Chia sẻ:</p>
                  <a href="javascript:;"> <img src="images/news/facebook.png" alt=""></a>
                  <a href="javascript:;"><img src="images/news/twitter.png" alt=""></a>
                  <a href="javascript:;"><img src="images/news/mail.png" alt=""></a>
                  <a href="javascript:;"><img src="images/news/link.png" alt=""></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="video-detail-sidebar">
                <h3 class="title-sidebar">
                  TIN VIDEO CÙNG CHUYÊN MỤC
                </h3>

                <div id="video-sidebar-slide" class="position-relative">
                  <!-- Swiper -->
                  <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" v-for="index in 12" :key="index">
                        <div class="video-item">
                          <div class="image">
                            <div class="img">
                              <!-- <img src="images/img-video-article.png" alt=""> -->
                              <img src="https://img.youtube.com/vi/TmjyM0abmyE/maxresdefault.jpg" alt="">
                            </div>

                            <a href="https://youtu.be/TmjyM0abmyE" class="play-button fancyboxJS-article-video"
                              data-fancybox>
                              <img src="images/play-button.svg" alt="">
                            </a>
                          </div>

                          <div class="content">
                            <a href="javascript:;" class="title">
                              Tập đoàn Trường Thành Đại Việt được vinh danh "Nơi làm việc tốt nhất châu Á"
                            </a>
                            <span class="date">
                              22/09/2022
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- navigation -->

                  <div class="navigation">
                    <div class="swiper-button-prev">
                      <img src="images/arrow-green-transparent-prev.svg" alt="" />
                    </div>

                    <div id="slidesCounting">
                      <div id="realIndex"></div>
                      <div id="slides"></div>
                    </div>

                    <div class="swiper-button-next">
                      <img src="images/arrow-green-transparent-next.svg" alt="" />
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <contact-form></contact-form>
    <myfooter></myfooter>
  </div>
  <script src="js/vue.js"></script>
  <script src="js/httpvueloader.js"></script>
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/popper.min.js"></script>
  <script src="libs/bootstrap/bootstrap.min.js"></script>
  <script src="libs/swiper/swiper-bundle.min.js"></script>
  <script src="libs/fancybox/fancybox.umd.js"></script>
  <script src="js/main.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      components: {
        myheader: httpVueLoader('vue_components/header.vue'),
        myfooter: httpVueLoader('vue_components/footer.vue'),
        "contact-form": httpVueLoader('vue_components/contact-form.vue'),
      },
      mounted() {
        $(window).bind('load', function () {
          var swiperVideoSidebar = new Swiper('#video-sidebar-slide .mySwiper', {
            speed: 500,
            touchRatio: 0.2,
            spaceBetween: 20,
            navigation: {
              nextEl: '#video-sidebar-slide .swiper-button-next',
              prevEl: '#video-sidebar-slide .swiper-button-prev'
            },
            on: {
              init: function () {
                let slides = this.slides.length;
                let index = this.realIndex + 1;
                let realIndexID = $('#video-sidebar-slide #realIndex');
                let slidesID = $('#video-sidebar-slide #slides');
                let slidesView = Math.round(this.params.slidesPerView);
                let num = Math.round(this.realIndex + 1) + slidesView;
                let slideChild = $(
                  '#video-sidebar-slide .swiper-slide:nth-child(n+' + num + ')'
                );

                slideChild.find('.item').addClass('overlay');

                if (slides < 10) {
                  slidesID.html('0' + slides);
                } else {
                  slidesID.html(slides);
                }

                if (index < 10) {
                  realIndexID.html('0' + index);
                } else {
                  realIndexID.html(index);
                }
              },

              slideChange: function () {
                let slides = this.slides.length;
                let index = this.realIndex + 1;
                let realIndexID = $('#video-sidebar-slide #realIndex');
                let slidesID = $('#video-sidebar-slide #slides');
                let slidesView = Math.round(this.params.slidesPerView);
                let num = Math.round(this.realIndex + 1) + slidesView;
                let slide = $('#video-sidebar-slide .swiper-slide');
                let slideChild = $(
                  '#video-sidebar-slide .swiper-slide:nth-child(n+' + num + ')'
                );

                slide.find('.item').removeClass('overlay');
                slideChild.find('.item').addClass('overlay');

                if (slides < 10) {
                  slidesID.html('0' + slides);
                } else {
                  slidesID.html(slides);
                }

                if (index < 10) {
                  realIndexID.html('0' + index);
                } else {
                  realIndexID.html(index);
                }
              }
            }
          });

        });
      },
    });
  </script>
</body>

</html>