.header {
	&.sticky {
		.header-main {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 11;

			.col-left {
				top: -20px;
				transition: all 0.1s linear;

				@media (max-width: 767px) {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.logo {
				max-width: 70px;
				transition: all 0.1s linear;

				@media (max-width: 767px) {
					max-width: 50px;
				}
			}
		}
	}
}

.header-topbar {
	background: linear-gradient(90deg, #9eceff 0%, #ffffff 100%);
	padding: 10px 0;

	@media (max-width: 767px) {
		padding: 3px 0;
	}

	.topbar-hotline {
		text-align: right;
		margin-left: auto;

		& > * {
			font-weight: 400;
			font-size: 14px;
			line-height: calc(16 / 14);
			color: #222222;

			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
	}
}

.header-main {
	background: linear-gradient(to right, #1d5a99 22.92%, #002d5b 100%);
	padding: 20px 0;

	@media (min-width: 1200px) {
		padding: 22px 0;
	}

	.container {
		position: relative;
	}

	.col-left {
		position: absolute;
		left: -15px;
		top: -60px;
		z-index: 1;
		width: auto;
		transition: all 0.1s linear;

		@media (max-width: 767px) {
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.col-right {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		max-width: 85%;
		margin-left: auto;
		z-index: 11;

		@media (max-width: 991px) {
			flex-flow: row-reverse;
			justify-content: flex-start;
			gap: 15px;
			max-width: 75%;
		}

		@media (max-width: 767px) {
			max-width: 100%;
			width: auto;
			margin: 0 auto 0 0;
		}
	}

	.logo {
		max-width: 130px;
		width: 100%;
		height: auto;
		transition: all 0.1s linear;

		@media (max-width: 767px) {
			max-width: 50px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.header-searchbox {
		position: relative;
		display: flex;
		align-items: center;
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid #a5bdd6;
		border-radius: 60px;
		padding: 6px 14px;

		@media (max-width: 767px) {
			display: none;
			padding: 2px 6px;
		}

		@media (min-width: 992px) {
			margin-left: 5%;
		}

		@media (min-width: 1200px) {
			margin-left: 15%;
		}

		input {
			flex: 1;
			font-weight: 400;
			font-size: 12px;
			line-height: 1;
			color: #d2deeb;
			background: none;
			border: none;
			outline: none;
		}

		button {
			background: none;
			border: none;
			outline: none;
		}
	}

	.menu {
		&-items {
			@media (min-width: 992px) {
				gap: 30px;
			}
		}

		&-parent {
			&.active {
				& > * {
					@media (min-width: 992px) {
						&::before {
							width: 100%;
							transition: all 0.2s linear;
						}
					}

					@media (max-width: 991px) {
						color: #1d5a99;
					}
				}
			}

			& > * {
				position: relative;
				font-weight: 700;
				font-size: 14px;
				line-height: calc(19 / 16);
				text-transform: uppercase;

				@media (min-width: 992px) {
					color: #ffffff;

					&::before {
						content: '';
						position: absolute;
						background: #fff;
						width: 0;
						height: 2px;
						bottom: -10px;
						left: 50%;
						transform: translateX(-50%);
						transition: all 0.2s linear;
						pointer-events: none;

						@media (min-width: 1200px) {
							bottom: -20px;
						}
					}

					&:hover {
						&::before {
							width: 100%;
							transition: all 0.2s linear;
						}
					}
				}

				@media (min-width: 1200px) {
					font-size: 16px;
				}
			}
		}
	}
}
