.section {
	max-width: 100%;
	width: 100svw;
	height: 100svh;
	overflow: hidden;
	padding: 0;

	&:not(.section-1) {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
}
.section-banner {
	.banner-link {
		display: block;
		@include col-img(100vh, cover);
	}
}
.section-investmentsector {
	.wrapper {
		&-row {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
		}

		&-col {
			&:first-child {
				@include col-w(26.5%);
			}

			&:last-child {
				@include col-w(73.5%);
			}
		}
	}

	.fixed-investmentsector {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding: 0 60px 0 160px;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url(../images/svg-investsector-bottom.svg);
			background-repeat: no-repeat;
			background-size: auto;
			background-position: bottom left;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 27%;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../images/svg-investsector-center.png);
			background-repeat: no-repeat;
			background-size: auto;
			background-position: center center;
			width: 100%;
			height: 22px;
			pointer-events: none;
		}
		.titlebox-cpn {
			margin-bottom: 1rem;
		
			.sub-title {
				display: block;
				font-weight: 500;
				font-size: 24px;
				line-height: calc(33 / 24);
				text-transform: uppercase;
				color: #333333;
			}
		
			.title {
				display: block;
				font-family: 'SVN-Megante';
				font-weight: 400;
				font-size: 52px;
				line-height: calc(75 / 52);
				letter-spacing: -0.02em;
				color: #D4991A;
				margin-bottom: 0;
			}
		}
	}
}
#swiperInvesmentSector {
	height: 100%;

	.swiper {
		height: 100%;

		&-slide {
			height: auto;
		}
	}

	.item {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
		z-index: 1;
		cursor: pointer;
		transition: background-size 0.75s ease 0s;

		&:hover {
			background-size: 130%;
			transition: background-size 0.75s ease 0s;

			.image {
				&::before {
					opacity: 0;
					visibility: hidden;
					transition: all 0.2s linear;
				}
			}

			.box-onhover {
				opacity: 1;
				visibility: visible;
				pointer-events: inherit;
				transform: translateY(0);
				transition: all 0.2s linear;
				transition-delay: 0.4s;
			}

			.num,
			.category,
			.title,
			.desc,
			.btn {
				color: #fff;
				border-color: white;
			}
		}

		.box-onhover {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(5%);
			transition: all 0.2s linear;
		}

		.box-absolute {
			position: absolute;
			top: 50%;
			transform: translateY(-75%);
			padding: 60px;
			padding-top: 50vh;
			height: 100%;
			z-index: 2;
		}

		.image {
			@include col-img(100vh, cover);

			&::before {
				content: '';
				position: absolute;
				background: rgba(254, 254, 254, 0.9);
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				opacity: 1;
				visibility: visible;
				transition: all 0.2s linear;
				z-index: 1;
			}
		}

		.num {
			display: block;
			font-weight: 800;
			font-size: 55px;
			line-height: calc(75 / 55);
			color: $maincolor;
			margin-bottom: 38px;
		}

		.category {
			display: block;
			font-weight: 600;
			font-size: 20px;
			line-height: calc(34 / 20);
			letter-spacing: -0.03em;
			color: #828282;
			border-bottom: 1px solid $maincolor;
			padding-bottom: 10px;
			margin-bottom: 35px;
		}

		.title {
			display: block;
			font-weight: 600;
			font-size: 32px;
			line-height: calc(48 / 32);
			letter-spacing: -0.03em;
			text-transform: uppercase;
			color: #333333;
			margin-bottom: 40px;
		}

		.desc {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: calc(24 / 16);
			text-align: justify;
			letter-spacing: -0.02em;
			color: #333333;
			margin-bottom: 48px;
		}

		.btn {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 400;
			font-size: 16px;
			line-height: calc(26 / 16);
			letter-spacing: -0.03em;
			color: #333;
		}
	}
}
